parameters:
	level: 8
	paths:
		- src
		- tests
	excludes_analyse:
		- tests/Database/*
		- tests/DynaModelTest.php:testBelongsTo
		- tests/DynaModelTest.php:testBelongsToCustom
	bootstrap: tests/Bootstrap.php